{{ define "main" }}
	<section class="bodywrap cf ph2 pv3">
		<div class="cf">
			<h1 class="mv3 pa2 fl">{{ .Title }}</h1>
			<time class="fl pv2 mv3 l mh2 mb3 mt0 db lh-1875">
					  {{ .Date.Day }} de {{ index $.Site.Data.mes (printf "%d" .Date.Month) }} {{ .Date.Year }} 
		 	</time>
			<p class="mh2 mv3 fr bg-blue white b pa2 lh-1875">{{ humanize .Section | upper }}</p>
		</div>
		<div class="cf">
		{{ if .Params.featured_image }}
		{{ $alt := delimit (slice "image from" .Title) " " }}
		{{ $class := "center w-100 zoom" }}
		<div class="ancho mv3-ns w-two-thirds-ns w-100 ph2">
	  			{{ partial "image-responsive.html" (dict "all" . "path" .Params.featured_image "alt" $alt "class" $class) }}
		</div>
		{{ else }} {{ end }}
		<article class="content w-two-thirds-ns fl">
			{{ .Content }}
		</article>
				{{ partial "menu-contextual.html" . }}
		</div>
	</section>
{{ end }}