{{ define "main" }}
  <section class="bodywrap cf ph2 pv3">
    <div class="cf">
    <h2 class="mv3 pa2 fl">{{ .Title }}</h2>    <time class="fl pv2 mv3 l mh2 mb3 mt0 db lh-1875">
              {{ .Date.Day }} de {{ index $.Site.Data.mes (printf "%d" .Date.Month) }} {{ .Date.Year }} 
    </time>
    <p class="mh2 mv3 fr bg-blue white b pa2 lh-1875">{{ humanize .Section | upper  }}</p>
    </div>
      {{ if .Params.featured_image }}
      {{ $featured_image := .Params.featured_image }}
        {{ $featured_image := (trim $featured_image "/") | absURL }}
        <img src="{{ $featured_image }}" class="ph2 fl w-two-thirds border-box" alt="image from {{ .Title }}" />
          <div class="w-third fl ph2">
      {{ partial "menu-contextual.html" . }}
    </div>
          <article class="fl ph2 mv3 w-two-thirds">
        {{ .Content }}
    </article>
      {{ else }}
      <article class="fl ph2 w-two-thirds">
        {{ .Content }}
    </article>
    <div class="w-third fl ph2">
      {{ partial "menu-contextual.html" . }}
    </div>
      {{ end }}



  </section>
{{ end }}
