.ancho p {
    margin-left: auto; 
    margin-right: auto;
    width: 100%;
}

.content>p {
    width: 66.66667%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    float: left;
}

.derecha>p>img {
    max-width: 100%;
}

.ancho>p>img {
    max-height: 80vh;
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 66.6667%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

p {
    padding: 0;
    margin: 0;
}

.mh-7 {
    max-height: 8em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bodywrap {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 80rem;
}


.h-60 {
    height: 60%;
}

html {
font-size: 87.5%;
}

.lh-1875 {
    line-height: 1.875;
}

.pt-100 {
    padding-top: 15%;
}

.l {
    font-weight: lighter;
}

.montserrat {
    font-family: 'Montserrat', 'Avenir Next', 'Avenir', sans-serif;
}

header {
    min-height: 4em;
}


.linkwrap {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    margin-top: -0.5em;
}

.nav li:hover {
    background-color: white;
    color:#357edd;
}

a {
    color: inherit;
}

.abs-vert-center {
    position: absolute;
    top: 45%;
    margin-top: -0.5em;
}

.headwrap {
    border-left: 0.25rem solid white;
}

.nav {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.firstnav {
    top: 1.6vw;
    bottom: 0;
}

.firstli {
    border-top: 1rem solid white;
/*    border: 1rem solid white;
    margin-left: -1rem;
    box-sizing: content-box;*/
}

.thirdnav {
    top: 0;
    left: 100%;
    border-left: 1rem solid white;
}

.uberschrift {
    font-size: 1.5vw;
}

@media screen and (min-width:90em) {
    .uberschrift {
    font-size: 1.6rem;
    }
}

ul {
    z-index: 2;
}

.menü > ul {
    display: none;
}

.menü:hover > ul {
    display: block;
}

.active {
    background-color: white;
    color:#357edd;
/*    border-bottom: 0.5rem solid white;*/
}



/* bei breite von 80% den header auf 100% aufpumpen (-12.5 weil 80+x=100% ->x=20%, um von 80% auf 20% zu kommen muss man 1/4 nehmen = 25% dann durch 2 ist 12.5 
bei 90 bspw: 90*x=10 x/2=endprozent 

*/
.header {
	padding-right: 12.5%; 
	padding-left: 12.5%; 
	margin-left: -12.5%; 
	margin-right: -12.5%;
}

.w-sixth {
	width:calc(100% / 6);
}

.w-five-sixth {
	width:calc(83.3%);
}

.button {
	border: none;
	font-size: 3em;
    cursor: pointer;
    text-decoration: none;
}

.bg-transparent {
	background-color: transparent;
}

.right {
	right: 0;
}

.circle {
	border: none;
  border-radius: 50%;
}

.buttonwrapper {
	margin: auto;
}

.carouselelements {
	top: 65%;
	position: absolute;
	width: 100%;
}

.hide {
  opacity: 1;
  transition: opacity .15s ease-in;
}
.hide:hover,
.hide:focus {
  opacity: 0;
  transition: opacity .15s ease-in;
}
.hide:active {
  opacity: 0; 
	transition: opacity .15s ease-out;
}

.show {
  opacity: 0;
  transition: opacity .15s ease-in;
}
.show:hover,
.show:focus {
  opacity: 1;
  transition: opacity .15s ease-in;
}
.show:active {
  opacity: 1; 
	transition: opacity .15s ease-out;
}

.facebook, .twitter, .instagram, .youtube, .github, .linkedin {
  fill: white;
}
.facebook:hover {
  fill: white;
}

.twitter:hover {
  fill: #1da1f2;
}

.instagram:hover {
  fill: #e1306c;
}

.youtube:hover {
  fill: #cd201f;
}

.github:hover {
  fill: #6cc644;
}

.linkedin:hover {
  fill: #0077b5
}

h1, h2, h3 {
    font-weight: 200;
    font-size: 1.5rem;
}

li {
    font-weight: 200;
}