.ml--1 {
    margin-left: -1em;
}

.lh-1 {
    line-height: 0.7;
}

.bodywrap {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 80rem;
}

.ancho>p>img {
    max-width: 100%;
}

.abs-vert-center {
    position: absolute;
    top: 45%;
    margin-top: -1em;
}

.h2-5 {
    height: 3rem;
}

.w2-5 {
    width: 3rem;
}

.strech {
    top: 0;
    bottom: 0;
    right: 0;
}

a {
    text-decoration: none;
}


.bluewrapper::before {
    content: "";
    position: absolute;
    width: 12.5%;
    background-color: #357edd;
    left: -12.5%;
    top: 0;
    bottom: 0;
}

.bluewrapper::after {
    content: "";
    position: absolute;
    width: 12.5%;
    background-color: #357edd;
    right: -12.5%;
    top: 0;
    bottom: 0;
    padding-left: 1rem;
}

.headwrapper::before {
    content: "";
    position: absolute;
    width: 12.5%;
    background-color: #357edd;
    left: -12.5%;
    margin-left: -0.5rem;
    top: 0;
    bottom: 0;
}

.headwrapper::after {
    content: "";
    position: absolute;
    width: 12.5%;
    background-color: #357edd;
    right: -12.5%;
    margin-right: -0.5rem;
    top: 0;
    bottom: 0;
    padding-left: .5rem;
}

@media screen and (min-width:85rem) {
    .headwrapper::before {
        width: calc(50vw - 40rem);
        left: calc(40rem - 50vw);
    }
    
    .headwrapper::after {
        width: calc(50vw - 40rem);
        right: calc(40rem - 50vw);
    }
    .bluewrapper::before {
        width: calc(50vw - 40rem);
        left: calc(40rem - 50vw);
    }
    
    .bluewrapper::after {
        width: calc(50vw - 40rem);
        right: calc(40rem - 50vw);
    }
}

p {
    margin-bottom: 1.15em;
    margin-top: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 1.15em;
}

.content>p, .content>h1, .content>h2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

/* Menu styles */

.arrowtop {
	width: 0;
	height: 0;
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	border-bottom: 0.5em solid #357edd;
    margin-left: auto; 
    margin-right: auto;
}

.arrowleft {
    position: absolute;
    left: 0em;
    top: 0.5em;
	width: 0;
	height: 0;
	border-top: 1em solid transparent;
	border-bottom: 1em solid transparent;
	border-left: 0.5em solid white;
    margin-left: auto; 
    margin-right: auto;
}

header {
    min-height: 4em;
}


.headwrap {
    border-left: 0.25rem solid white;
}




.firstnav {
    top: 1.8vw;
    bottom: 0;
}

.uberschrift {
    font-size: 1.3vw;
}



.menü > ul {
    display: none;
    z-index: 2;
}

ul.nav {
    z-index: 2;
}

.active {
    background-color: white;
    color:#357edd;
/*    border-bottom: 0.5rem solid white;*/
}



@media screen and (min-width:90em) {
    .uberschrift {
    font-size: 1.4rem;
        height: 1.8rem;
    }
    .firstnav {
    top: 1.8rem;
    }
    .whitebar {
    height: 1.8rem;
    }
}

/* mobile menu */

@media screen and (min-width:30em) {
    .bodywrap {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 80rem;
    }
    .menü:hover > ul {
    display: block;
    }
    .nav li:hover {
    background-color: white;
    color:#357edd;
    }
    .headwrapper::after {
        top: 25%;
    }
    .w-sixth-ns {
        width:calc(100% / 6);
    }
    .w-five-sixth-ns {
	width:calc(83.3%);
    }
    .strech-ns {
    top: 0;
    bottom: 0;
    right: 0;
    }
    
    .linkwrap-ns {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    margin-top: -0.5em;
    }
    .firstlastborder:first-child {
    border-left: 0.5rem solid white;
    padding-left: 0;
        
    }

    .firstlastborder:last-child {
    border-right: 0.5rem solid #357edd;
    padding-right: 0;
    }
    .thirdnav-ns {
            top: 0;
            left: 100%;
        }
    .bg-blue-ns {
        background-color: #357edd;
    }
    .bg-transparent-ns {
        background-color: transparent;
    }
    .abs-vert-center-ns {
    position: absolute;
    top: 45%;
    margin-top: -0.5em;
    }
    .h26-ns {
        height: 26rem;
    }
    

    .ancho>p>img {
    max-height: 80vh;
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 66.6667%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    }
}

@media screen and (max-width:30em) {
    .thirdnav {
        margin-top: 1rem;
        margin-bottom: -1rem;
    }
    .mobilenav {
        top: 0;
        margin-top: 22%;
        width: 50%;
    }
    .submenu {
        position: absolute;
        top: 0;
        left: 100%;
    }
    .cliked>ul {
        display: block;
    }
}

.derecha>p>img {
    max-width: 100%;
}

.mh-7 {
    max-height: 8em;
  overflow: hidden;
  text-overflow: ellipsis;
}


.h-60 {
    height: 60%;
}

html {
font-size: 87.5%;
}

.lh-1875 {
    line-height: 1.875;
}

.pt-100 {
    padding-top: 15%;
}

.l {
    font-weight: lighter;
}

.montserrat {
    font-family: 'Montserrat', 'Avenir Next', 'Avenir', sans-serif;
}

a {
    color: inherit;
}

.whitebar {
    height: 1.8vw;
}



/* bei breite von 80% den header auf 100% aufpumpen (-12.5 weil 80+x=100% ->x=20%, um von 80% auf 20% zu kommen muss man 1/4 nehmen = 25% dann durch 2 ist 12.5 
bei 90 bspw: 90*x=10 x/2=endprozent 

*/
.header {
	padding-right: 12.5%; 
	padding-left: 12.5%; 
	margin-left: -12.5%; 
	margin-right: -12.5%;
}

.w-sixth {
	width:calc(100% / 6);
}

.w-five-sixth {
	width:calc(83.3%);
}

.button {
	border: none;
	font-size: 3em;
    cursor: pointer;
    text-decoration: none;
}

.bg-transparent {
	background-color: transparent;
}

.right {
	right: 0;
}

.circle {
	border: none;
  border-radius: 50%;
}

.buttonwrapper {
	margin: auto;
}

.carouselelements {
	top: 10%;
	position: absolute;
	width: 100%;
}

.hide {
  opacity: 1;
  transition: opacity .15s ease-in;
}
.hide:hover,
.hide:focus {
  opacity: 0;
  transition: opacity .15s ease-in;
}
.hide:active {
  opacity: 0; 
	transition: opacity .15s ease-out;
}

.show {
  opacity: 0;
  transition: opacity .15s ease-in;
}
.show:hover,
.show:focus {
  opacity: 1;
  transition: opacity .15s ease-in;
}
.show:active {
  opacity: 1; 
	transition: opacity .15s ease-out;
}

.white {
  fill: white;
}
.facebook:hover {
  fill: white;
}

.twitter:hover {
  fill: #1da1f2;
}

.instagram:hover {
  fill: #e1306c;
}

.youtube:hover {
  fill: #cd201f;
}

.github:hover {
  fill: #6cc644;
}

.linkedin:hover {
  fill: #0077b5
}

h1, h2, h3 {
    font-weight: 200;
    font-size: 1.5rem;
}

h2 {
    font-weight: 400;
}

h1 {
    text-transform: uppercase;
    margin-top: 2.30em;
}

li {
    font-weight: 200;
}

.h-20 {
    height: 20%;
}

.h-80 {
    height: 80%;
}

/* mobile menu button styles */

button,
input[type="button"] {
	border: none;
	border-radius: 0;
	background: Transparent;
	color: white;
    cursor: pointer;
}

.icon {
	display: inline-block;
	fill: currentColor;
	width: 100%;
    height: 100%;
	vertical-align: middle;
}

/* Animate menu icon (lines). */

.icon .line, .icon g {
  opacity: 1;
  transform: rotate(0) translateY(0) translateX(0);
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
.burgermenu-svg .line-1 {
  transform-origin: 1em 2.5em;
}
.burgermenu-svg .line-3 {
  transform-origin: 1em 4.5em;
}

.menu-toggle.opened .burgermenu-svg .line-1 {
  transform: rotate(45deg) translateY(0) translateX(0);
}
.menu-toggle.opened .burgermenu-svg .line-2 {
  opacity: 0;
}
.menu-toggle.opened .burgermenu-svg .line-3 {
  transform: rotate(-45deg) translateY(0em) translateX(0em);
}

.mas-svg {
    transform-origin: 50% 50%;
}

.cliked > button > svg > .mas-svg {
    transform: rotate(45deg);
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}