<<<<<<< HEAD



=======
.menü > ul {
	height: 0;
	transition: height 0.5s;
}

.menü:hover ul {
	height: 2em;
	transition: height 0.5s;
}
>>>>>>> 8b424ffe2435c0f1aec377e1ca616a7c4366c5fd



/* bei breite von 80% den header auf 100% aufpumpen (-12.5 weil 80+x=100% ->x=20%, um von 80% auf 20% zu kommen muss man 1/4 nehmen = 25% dann durch 2 ist 12.5 
bei 90 bspw: 90*x=10 x/2=endprozent */

header {
	padding-right: 12.5%; 
	padding-left: 12.5%; 
	margin-left: -12.5%; 
	margin-right: -12.5%;
}

.w-sixth {
	width:calc(100% / 6);
}

.w-five-sixth {
	width:calc(83.3%);
}

.knopf {
	position: absolute;
	top: 50%;
	color: white;
	border: none;
	background-color: transparent;
	font-size: 3em;
}

.right {
	right: 0;
}

.badge {
	border: none;
  border-radius: 50%;
	float: left;
}

.buttonwrapper {
	width: 6rem;
	margin: auto;
}

.carouselelements {
	top: -35%;
	position: relative;
	width: 100%;
	height: 10%;
}

.hide {
  opacity: 1;
  transition: opacity .15s ease-in;
}
.hide:hover,
.hide:focus {
  opacity: 0;
  transition: opacity .15s ease-in;
}
.hide:active {
  opacity: 0; 
	transition: opacity .15s ease-out;
}

.show {
  opacity: 0;
  transition: opacity .15s ease-in;
}
.show:hover,
.show:focus {
  opacity: 1;
  transition: opacity .15s ease-in;
}
.show:active {
  opacity: 1; 
	transition: opacity .15s ease-out;
}