/* general element styling */

.ytblock~*:not(.ytblock) {
	clear: both;
}

p:empty {
	display: none;
}

h3 {
	font-weight: 200;
	font-size: 1.5rem;
}

h2 {
	font-weight: 400;
	font-size: 1.5rem;
}

h1 {
	text-transform: uppercase;
	margin-top: 2.30em;
	font-weight: 200;
	font-size: 2em;
}

.content h1 {
	text-transform: uppercase;
	margin-top: 2.30em;
	padding-top: 0.2rem;
	padding-bottom: 0.1rem;
	color: white;
	background-color: #357edd;
	font-weight: 200;
	font-size: 1.2rem;
}

li {
	font-weight: 200;
}

a {
	text-decoration: none;
}

html {
	font-size: 87.5%;
}

p {
	margin-bottom: 1.15em;
	margin-top: 0;
}

ul {
	margin-top: 0;
	margin-bottom: 1.15em;
}

.content > p,
.content > h1,
.content > h2 {
	padding-left: .5rem;
	padding-right: .5rem;
}

/* special classes and dependencies */

hr {
	clear: both;
	border: none;
	border-bottom: 1px solid black;
	padding: 1em;
}

.videocontainer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

div[data-configid] {
	width: 100% !important;
	padding: 0.5em;
	float: left;
	height: 18em !important;
}

@media screen and (min-width:30em) {
	div[data-configid] {
		width: 33% !important;
	}
}

/* mobile menu */


.cliked > ul {
		display: block;
}

button,
input[type="button"] {
	border: none;
	border-radius: 0;
	background: Transparent;
	color: white;
	cursor: pointer;
}

button svg {
	display: inline-block;
	fill: white;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.active>button svg {
	fill: #357edd;
}

/* general*/

.circle {
	border: none;
	border-radius: 50%;
}

.bodywrap {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

h1 {
	position: relative;
}
	.content h1::before,.bluewrapper::before {
		content: "";
		position: absolute;
		width: 0.5rem;
		background-color: #357edd;
		left: -0.5rem;
		top: 0;
		bottom: 0;
	}

	.content h1::after,.bluewrapper::after {
		content: "";
		position: absolute;
		width: 0.5rem;
		background-color: #357edd;
		right: -0.5rem;
		top: 0;
		bottom: 0;
		padding-left: 1rem;
	}

	.headwrapper::before {
		content: "";
		position: absolute;
		width: 0.5rem;
		background-color: #357edd;
		left: 0rem;
		top: 0;
		bottom: 0;
	}

	.headwrapper::after {
		content: "";
		position: absolute;
		width: 0.5rem;
		background-color: #357edd;
		right: 0rem;
		top: 0;
		bottom: 0;
		padding-left: .5rem;
	}

@media screen and (min-width:30em) {
	.content h1::before,.bluewrapper::before {
		width: 12.5%;
		left: -12.5%;
		margin-left: -0.5rem;
	}

	.content h1::after,.bluewrapper::after {
		width: 12.5%;
		right: -12.5%;
		margin-right: -0.5rem;
	}

	.headwrapper::before {
		width: 12.5%;
		left: -12.5%;
	}

	.headwrapper::after {
		width: 12.5%;
		right: -12.5%;
		top: 25%;
		bottom: 0;
	}
}
@media screen and (min-width:87.5rem) {
	.f-expand {
		font-size: 1.4rem;
	}
	
	.headwrapper::before {
		width: calc(50vw - 40.6rem);
		left: calc(40.6rem - 50vw);
	}

	.headwrapper::after {
		width: calc(50vw - 40.6rem);
		right: calc(40.6rem - 50vw);
	}
	.content h1::before,.bluewrapper::before {
		width: calc(50vw - 40.6rem);
		left: calc(40.6rem - 50vw);
	}

	.content h1::after,.bluewrapper::after {
		width: calc(50vw - 40.6rem);
		right: calc(40.6rem - 50vw);
	}
}

.arrowtop {
	width: 0;
	height: 0;
	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	border-bottom: 0.5em solid #357edd;
	margin-left: auto;
	margin-right: auto;
}

.arrowleft {
	position: absolute;
	left: 0em;
	top: 0.5em;
	width: 0;
	height: 0;
	border-top: 1em solid transparent;
	border-bottom: 1em solid transparent;
	border-left: 0.5em solid white;
	margin-left: auto;
	margin-right: auto;
}

header {
	min-height: 4em;
	box-sizing: border-box;
}

.active {
	background-color: white;
	color: #357edd;
	/*    border-bottom: 0.5rem solid white;*/
}

/* desktop styles */

@media screen and (min-width:30em) {
	p {
		text-align: justify;
	}
	.bodywrap {
		width: 80%;
		max-width: 80rem;
	}
	.firstlastborder:first-child {
		border-left: 0.5rem solid white;
		padding-left: 0;
	}

	.firstlastborder:last-child {
		border-right: 0.5rem solid #357edd;
		padding-right: 0;
	}

	.ancho img {
		max-height: 80vh;
		margin-right: auto;
		margin-left: auto;
		display: block;
		max-width: 66.6667%;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
}

/* Animate menu icon (lines). */

.line,
.icon g {
	opacity: 1;
	transform: rotate(0) translateY(0) translateX(0);
	transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.burgermenu-svg .line-1 {
	transform-origin: 1em 2.5em;
}

.burgermenu-svg .line-3 {
	transform-origin: 1em 4.5em;
}

.menu-toggle.opened .burgermenu-svg .line-1 {
	transform: rotate(45deg) translateY(0) translateX(0);
}

.menu-toggle.opened .burgermenu-svg .line-2 {
	opacity: 0;
}

.menu-toggle.opened .burgermenu-svg .line-3 {
	transform: rotate(-45deg) translateY(0em) translateX(0em);
}

.mas-svg {
	transform-origin: 50% 50%;
}

.cliked > button > svg > .mas-svg {
	transform: rotate(45deg);
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

/* shortcode styles */

.ancho > img {
	max-width: 100%;
}

.derecha > img {
	max-width: 100%;
}