@media screen and (min-width:30em) {
	.hide-dc>.dc {
		opacity: 0;
		transition: opacity .15s ease-in;
	}
	.hide-dc:hover>.dc,
	.hide-dc:focus>.dc,
	.hide-dc:active>.dc {
		display: block;
		opacity: 1;
		transition: opacity .15s ease-in;
	}
	.hover-white-ns:hover {
		background-color: white;
		color: #357edd;
	}
	.w-sixth-ns {
		width: calc(100% / 6);
	}
	.w-five-sixth-ns {
		width: calc(83.3%);
	}
	.max-w-100-ns {
		max-width: 100%;
	}
	.stretch-left-ns {
		top: 0;
		bottom: 0;
		right: 0;
	}

	.linkwrap-ns {
		position: absolute;
		top: 45%;
		left: 0;
		right: 0;
		margin-top: -0.5em;
	}
 
 	.bg-blue-ns {
		background-color: #357edd;
	}
	.bg-transparent-ns {
		background-color: transparent;
	}
	.h26-ns {
		height: 26rem;
	}
}