{{ define "main" }}
<section class="ma2">
    <div class="cf">
    <h2 class="pa2 fl">{{ .Title }}</h2>
    <p class="mh2 mv3 fr bg-blue white b pa2 lh-1875">Estas en {{ .Dir }}</p>
        </div>
  <div class="pa2">
      {{ .Content }}
  </div>
</section>
{{ if .Data.Pages }}
<section class="ma2">
    <h2 class="mh2">Paginas en esta Categoría</h2>
    <ul class="cf w-100 ma0 pa0">
    <!-- Ranges through content/post/*.md -->
        {{ $unterseiten  := union .Pages .Sections }}
    {{ range $unterseiten.ByWeight }}
        <li class="relative db fl w-sixth ma0 h-0 pt-100">
            <a href="{{.Permalink}}" class="ma2 absolute bg-blue db absolute--fill link">
            <h3 class="db abs-vert-center white tc ma0 pa0 w-100">
                {{.Title}}
                </h3>
            </a>
        </li>
    {{ end }}
    </ul>
</section>
{{ end }}

<!--<section class="ma2">
    <ul class="">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
        <li>
            <a href="{{ .URL }}">
                {{ .Pre }}
                {{ .Name }}
            </a>
        </li>
        {{ end }}
    </ul>
</section>-->
{{ end }}
