{{/* Range through the first $n_posts items of the section */}}
			{{ range (first .n_posts .section) }}
<article class="relative bg-dark-blue slides h-100">
	{{ $featured_image := .Params.featured_image }}
      {{ if $featured_image }}
          <a href="{{.URL}}" class="db h-100 overflow-hidden">
				 <img src="{{ partial "featured-image.html" . }}" class="center grow min-h-100 mw-100" alt="image from {{ .Title }}" />
          </a>
      {{ end }}
      <div class="white bg-black-50 {{ if $featured_image }}ph4 pv3 absolute w-100 bottom-0 {{ else }}h-100 pa5 {{ end }}">
          <div class="cf w-100" >
          <a href="{{.URL}}" class="fl dim link white tl">
        <h2 class="dib f3 lh-title ma0">
            {{ .Title }}
        </h2>
            </a>
              <time class="fr ma0 fw2 l tr lh-1875">
              {{ .Date.Day }} de {{ index .Site.Data.mes (printf "%d" .Date.Month) }} {{ .Date.Year }} 
          </time>
              </div>
      {{ if $featured_image }}
        <p class="f5 mv2">
          {{ .Description }}
          </p>
			{{ else }}
        <p class="f5 mv2 mh-7">
					{{ .Summary }}
          </p>
          <a href="{{.URL}}" class="ba b--white bw1 color-inherit dib f5 ttu hover-bg-blue link mt2 ph2 pv1">{{$.Param "read_more_copy" | default "read more" }}</a>
			{{ end }}
      </div>
</article>
			{{ end }}
			<!--Artikel Ende-->
			{{ if ge .section_count (add .n_posts 1) }}
			<!--Slide Knöpfe-->
			<button type="button" class="white abs-vert-center left-0 f1 dim ma2 pa2 white bg-transparent" onclick="plusDivs(-1)">&#10094;</button>
			<button type="button" class="abs-vert-center right-0 f1 pa2 ma2 dim white bg-transparent" onclick="plusDivs(1)">&#10095;</button>
			<div class="absolute w-100 tc top-1">
				<span class="center">
				{{ range $index, $num := (seq .n_posts) }}
					{{$indexStartingAt1 := (add $index 1)}}
					<button class="button circle js-badge w1 h1 mr1 bg-white-60 pa0" onclick="currentDiv({{$indexStartingAt1}})"></button>
				{{ end }}
				</span>
			</div>
	{{ end }}