<img srcset="
						{{- partial "image-resized.html" (dict "all" .all "path" .path "size" "1100x") -}}{{- print " " -}}  1100w,
						{{- partial "image-resized.html" (dict "all" .all "path" .path "size" "650x") -}}{{- print " " -}} 650w,
						{{- partial "image-resized.html" (dict "all" .all "path" .path "size" "320x") -}}{{- print " " -}}  320w"
			 sizes="(min-width: 80rem) 80rem, (min-width: 30rem) 80vw, 100vw"
			 src="{{- partial "image-resized.html" (dict "all" .all "path" .path "size" "650x") -}}"
			 alt="{{- .alt -}}" class="{{ .class }}" data-action="zoom" />