<div class="bluewrapper">
	<div class="cf">
		<div class="h2-5 pr2 bl bw3 b--white fl ma0 w-two-thirds bg-blue relative">
			<a class="abs-vert-center-1line mh2 link white" href="{{ "" | relURL }}">
    			&copy; {{ now.Format "2006" }} ACISAM<span class="di-l dn">, última actualización: {{ now.Day }} de {{ index $.Site.Data.mes (printf "%d" now.Month) }} {{ .Date.Year }}</span>
      	</a>
			<div class="fr mh2 abs-vert-center-1line right-0 h-100">
				<script type="text/javascript" src="http://www.websitegoodies.com/counter.php?id=72657&color=%23357edd"></script>
			</div>
		</div>
		<div class="fl w-third pl2 br bw3 b--white bg-blue">
			{{ partial "social-follow.html" . }}
		</div>
	</div>
</div>
