<div class="bluewrapper relative">
	<div class="cf bg-blue bl br bw3 b--white">
		<div class="fl ma0 w-50-ns w-100 relative lh-copy pa2">
			<p class="">
			<a class="link white db" href="{{ "" | relURL }}">
    			&copy; {{ now.Format "2006" }} ACISAM<span class="di-l dn">, actualizado: {{ now.Day }} de {{ index $.Site.Data.mes (printf "%d" now.Month) }} {{ .Date.Year }}</span>
      	</a>
			{{- with .Site.GetPage "page" "limitacion-de-responsabilidad.md" -}}
				<a class="link white db ttu" href="{{ .RelPermalink }}">
					Limitación de responsabilidad
				</a>
			{{- end -}}
			</p>
			{{ partial "social-follow.html" . }}
			<div class="fl mh2 mv2 counter dn db-ns">
<script type="text/javascript" src="https://www.counters-free.net/count/t5m"></script><br>
 <a href='http://besucherzaehler.co'>Besucherzaehler.co</a> <script type='text/javascript' src='https://whomania.com/ctr?id=7380dc43eb59c587d3fca0bb8cd9c93845ab2a2e'></script>
			</div>
		</div>
		<div class="fl w-50-ns w-100 pl2 lh-copy pa2 tr-ns white">
			{{ with .Site.GetPage "page" "footer.md" }}{{ .Content }}{{ end }}
		</div>
	</div>
</div>
