<div class="bluewrapper">
    <div class="cf">
    <div class="h2-5 pr2 bl bw3 b--white fl ma0 w-two-thirds bg-blue relative">
        <a class="abs-vert-center abs-vert-center-ns mh2 link white" href="{{ "index.html" | relURL }}">
    &copy; {{ now.Format "2006" }} ACISAM<span class="di-ns dn">, última actualización: {{ now.Day }} de {{ index $.Site.Data.mes (printf "%d" now.Month) }} {{ .Date.Year }}</span>
        </a>
        </div>
    <div class="fl w-third pl2 br bw3 b--white bg-blue">
  {{ partial "social-follow.html" . }}
    </div>
        </div>
</div>
