<!-- TODO: Add follow intents where available TODO: Revisit color and hover color -->
{{ $icon_size := "1.9rem" }}
{{ with .Site.Params.facebook }}
  <a href="{{ . }}" target="_blank" class="fr dib dim mv2 mh2 pa0 facebook" title="Facebook link">
    {{ partial "svg/facebook.svg" (dict "size" $icon_size) }}
  </a>
{{ end }}
{{ with .Site.Params.twitter }}
  <a href="{{ . }}" target="_blank" class="link-transition twitter link dib z-999 pt3 pt0-l mr2" title="Twitter link">
    {{ partial "svg/twitter.svg" (dict "size" $icon_size) }}
  </a>
{{ end }}
{{ with .Site.Params.instagram }}
  <a href="{{ . }}" target="_blank" class="link-transition instagram link dib z-999 pt3 pt0-l mr2" title="Instagram link">
    {{ partial "svg/instagram.svg" (dict "size" $icon_size) }}
  </a>
{{ end }}
{{ with .Site.Params.youtube }}
  <a href="{{ . }}" target="_blank" class="fr dib dim mv2 mh2 pa0 facebook" title="Youtube link">
    {{ partial "svg/youtube.svg" (dict "size" $icon_size) }}
  </a>
{{ end }}
{{ with .Site.Params.linkedin }}
  <a href="{{ . }}" target="_blank" class="link-transition linkedin link dib z-999 pt3 pt0-l mr2" title="LinkedIn link">
    {{ partial "svg/linkedin.svg" (dict "size" $icon_size) }}
  </a>
{{ end }}
{{ with .Site.Params.github }}
  <a href="{{ . }}" target="_blank" class="link-transition github link dib z-999 pt3 pt0-l mr2" title="Github link">
    {{ partial "svg/github.svg" (dict "size" $icon_size) }}
  </a>
{{ end }}
