{{ $featured_image := .Params.featured_image }}
<article class="relative bg-dark-blue slides h-100">
      {{ if .Params.featured_image }}
          {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
        {{  $featured_image := $featured_image | relURL }}
          <a href="{{.URL}}" class="db h-60 overflow-hidden">
            <img src="{{ $featured_image }}" class=" grow w-100" alt="image from {{ .Title }}" />
          </a>
      {{ end }}
      <div class="white {{ if .Params.featured_image }}ph5 pv4 h-25 {{ else }}h-100 pa5 {{ end }}">
          <div class="cf w-100" >
          <a href="{{.URL}}" class="fl dim link white tl">
        <h2 class="dib f3 lh-title ma0">
            {{ .Title }}
        </h2>
            </a>
              <time class="fr ma0 fw2 l tr lh-1875">
              {{ .Date.Day }} de {{ index $.Site.Data.mes (printf "%d" .Date.Month) }} {{ .Date.Year }} 
          </time>
              </div>
					
      {{ if .Params.featured_image }}
        <p class="f5 mv2">
          {{ .Description }}
          </p>
			{{ else }}
        <p class="f5 mv2 mh-7">
					{{ .Summary }}
          </p>
          <a href="{{.URL}}" class="ba b--white bw1 color-inherit dib f5 ttu hover-bg-blue link mt2 ph2 pv1">{{$.Param "read_more_copy" | default "read more" }}</a>
			{{ end }}
      </div>
</article>
