{{ $featured_image := .Params.featured_image }}
<article class="slides h-100">
  <div class="relative bg-dark-blue h-100">
      {{ if .Params.featured_image }}
          {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
        {{ $featured_image := (trim $featured_image "/") | absURL }}
          <a href="{{.URL}}" class="db h-75 overflow-hidden">
            <img src="{{ $featured_image }}" class=" grow w-100" alt="image from {{ .Title }}">
          </a>
      {{ end }}
      <div class="h-100{{ if .Params.featured_image }} h-25-ns{{ end }} white pa3">
        <h1 class="f3 fw1 lh-title ma0">
          <a href="{{.URL}}" class="dim link white">
            {{ .Title }}
            </a>
        </h1>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
					
      {{ if .Params.featured_image }}
          {{ .Description }}
			{{ else }}
					{{ .Summary }}
			{{ end }}
        </div>
          <a href="{{.URL}}" class="ba b--white bw1 color-inherit dib f7 hover-bg-blue link mt2 ph2 pv1">{{$.Param "read_more_copy" | default "read more" }}</a>
      </div>
  </div>
</article>
