<div class="derecha fl w-third-ns w-100 ph2 ml2" onclick="openModal({{- print "no" .Ordinal -}})">
	{{ partial "image-processed.html" . }}
</div>
{{ $name := .Get "name" }}
<div class="modal" onclick="closeModal({{- print "no" .Ordinal -}})" id="{{- print "no" .Ordinal -}}">
	<div class="relative center slides w-80 ma4 pa2 max-h-100">
			 <img src="{{ partial "image-1080.html" (dict "page" . "path" $name) }}" class="max-w-100 max-h-100" />
      <div class="white btgrad ph4 pv3 ma2 absolute left-0 right-0 bottom-0">
          <div class="cf w-100" >
          <a href="keinplan" class="fl dim link white tl">
        <h2 class="dib f3 lh-title ma0">
            Bildtitel
        </h2>
            </a>
              <time class="fr ma0 fw2 l tr lh-1875">
              Datum
          	</time>
          </div>
      </div>
			<!--Slide Knöpfe-->
			<button type="button" class="w-10 absolute left-0 top-0 bottom-0 ma2 pa2  bg-transparent gradhover-left" onclick="plusDivs(-1)">
				<div class="arrowright f3"></div>
			</button>
			<button type="button" class="w-10 absolute right-0 top-0 bottom-0 ma2 pa2  bg-transparent gradhover-right" onclick="plusDivs(1)">
				<div class="arrowleft f3 fr"></div>
			</button>
			<div class="absolute left-0 right-0 ma2 pt4 tc top-0">
				<span class="center">
			<!--Hier range einbauen-->
					<button class="button circle js-badge w1 h1 mr1 bg-white-60 pa0" onclick="currentDiv(1)"></button>
				</span>
			</div>
	</div>
</div>